:root{
    /* css  variable --grid-cols --grid-rows  for getting the values from javascript and 
    dynamically adding it to the canvas  */
    --grid-cols:1;
    --grid-rows:1;
    max-width: 100vw;
    max-height: 100vh;
     background-color: white;
    
}

/* used to change the  default appearance of color input */
input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;   
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
   
  }
  input[type='color']:hover {
      transform: scale(1.05);
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50px;
    color: #ddd;
    border-color: #ddd;
    color: #ddd;

   
  }


  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  /* ::moz-color-swatch is used for mozilla firefox browser , used to change the default appearance of 
  color input type */
  input[type='color']::-moz-color-swatch{
    border: none;
    border-radius: 50px;
    color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


input[type="color"]::-moz-color-swatch {
	border: none;
    padding: 0;
}


/* custom font for our web app */
@font-face {
    font-family: "eina01Bold";
    src: url(text-resources/Eina01-Bold.ttf);
}
@font-face {
    font-family: "eina03Bold";
    src: url(text-resources/Eina03-Regular.ttf);
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 5vw;
	height: 5vw;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}



#container{
    display: grid;
    grid-template-rows: 9vh 90vh;
}

#titleContainer1{
    display: flex;
    font-size: 4vw;
    justify-content: center;
    align-self: flex-start;
    font-family: eina01Bold;

}

#featureContainer1{
    display: grid;
    grid-template-columns: 25vw 50vw;
  
    /* grid-template-rows: 65vh 25vh; */
}

#features{

       display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    box-shadow:  0px 0px 13px 2px #ddd;
    height: 85vh;
    justify-self: stretch;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 3vw;
    border-radius: 0.8rem;
   

}



#colorWheel{
    margin-top: 10vh;
}




.featureButton{
    width: 10vw;
    height: 2.5vw;
    margin-top:5vh;
    text-align: center;
    border: 1px solid black;
    font-size: 1.2vw;
    padding: 0px;
    background: white;
    border-radius: 3px;
}

button{
    transition: trasform 0.8s ease-in-out;
}


button:hover {
    transform: scale(1.05);
    border-color:  black;
}



#reset{
    background-color:#3b5998;
    color: white;
}
.gridSize{
    font-size: 3vh;
    margin-top: 2vh;
}

#canvasContainer{
    justify-self: center;
    align-self: center;
    display: grid;
    width: 38vw;
    height: 75vh;
    /* border: 1px solid  black; */
    border-radius: 0.8rem;
    box-shadow:  0px 0px 13px 4px #ddd;
 

}
#canvas{
    display: grid;
    justify-self: center;
    align-self: center;
    height: 68vh;
    width:35vw;
    border: 1px solid #ddd;
   
    
    /* getting the values of grid row and colums and adding it dynammically to our css */
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
    }

    /* hide the slider mobile on our landscape layout */
    #sliderMobile{
      display: none;
    }
    #sliderValueIndicator{
      
        display: none;
    }

/* #titleContainer1{
    display: grid;
    font-size: 3rem;
    justify-content: center;
    height: 10vh;
    grid-template-rows: 100vw;
    box-sizing: border-box;
}   

#featureContainer1{
    display:grid;
    grid-template-columns: 100vh 10vh;
    height: 90vh;
    
    
}

#features{
    background-color: red;
    height:80vh;
    width:10vw;
    justify-self: flex-start;
}
#canvas{
    background-color: white;
    height: 40vh;
    width:30vw;
    align-self: center;
    justify-self: center;
} */

@media screen and (max-width: 1700px) {
    #canvasContainer{
    width: 38vw;
    height: 70vh;
    }

    #canvas{
    height: 65vh;
    width: 35vw;
    }
}

@media screen and (max-width: 1580px) {
    #canvasContainer{
        width: 38vw;
        height: 66vh;
    }

    #canvas{
        height: 60vh;
        width: 35vw;
    }
}

@media screen and (max-width: 1280px) {
    #canvasContainer{
        width: 38vw;
        height: 55vh;
    }

    #canvas{
        height: 50vh;
        width: 35vw;
    }
}

@media screen and (max-width: 1191px) {
    #canvasContainer{
        width: 38vw;
        height: 49vh;
    }

    #canvas{
        height: 45vh;
        width: 35vw;
    }
}


@media screen and (max-width: 964px) {
    #canvasContainer{
        width: 38vw;
        height: 45vh;
    }

    #canvas{
        height: 40vh;
        width: 35vw;
    }
}

@media screen and (orientation:portrait) {
    #container{
        display:grid;
        grid-template-rows: 10vh 90vh ;
        grid-template-columns: auto;
    }

    #titleContainer1{
        font-size: 5vh;
    line-height: 2.5;
    }

   
    #featureContainer1{
        display: grid;
        grid-template-rows: 10fr 1fr 1fr 2fr;
        grid-template-columns: auto;
    

    }


#canvasContainer{
    justify-self: center;
    align-self: center;
    display: grid;
    width: 50vh;
    height: 50vh;
    /* border: 1px solid  black; */
    border-radius: 0.8rem;
    box-shadow:  0px 0px 13px 2px #ddd;

}
    
    #canvas{
        align-self: center;
        justify-self: center;
        width: 47vh;
        height: 47vh;
    }
    #features{
        grid-row-start: 4;
        display: grid;
         grid-template-rows: 30% 40% 30%; 
        grid-template-columns: 33% 33% 33%;
        height:30vw;
        width: 90vw;
        align-self: center;
        justify-self: center;
        margin:0px 0px 1rem 0px    }
    .featureButton{
        margin: 0;
        align-self: center;
        justify-self: center;
        font-size: 1.7vh;
        padding: 0px;
        width: 13vh;
      
        height: 5vh;
    }

    #colorWheel{
        align-self: center;
        justify-self: center;
        margin: 0;
        grid-row-start: 2;
        grid-column-start: 2;
        font-size: 1.2vh;
        padding: 0px;
        width: 10vh;
        height: 10vh;
    } 

    #rainbowButton{
        
        grid-row: 1;
        grid-column-end: 2;
        margin-top: 2vh;
       
    }

    #shading{
      
        grid-row-start: 3;
        grid-column-start: 1;
        margin-bottom: 2vh;
    } 

    #eraser{
            grid-row-start: 3;
            grid-column-start: 3;
            margin-bottom: 2vh;
            }

    #reset{
            grid-row-start: 1;
            grid-column-start: 3;
            margin-top: 2vh;
    }
    
    /* show the slider element in potrait mode */
    #sliderValueIndicator{
        grid-row-start: 2;
        justify-self: center;
        align-self: center;
        display: flex;
        font-size: 3vh;
    }

    /* show the slider element in potrait mode */
    #sliderMobile{
        display: flex;
        align-self: center;
        justify-self: center;
        grid-row-start: 3;
    }

    #slider{
        display: none;
    }

    #gridNumber{
display: none;
    }

    
}